/* SearchPage.css */

.searchPage {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .searchPage > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchPage > div h2 {
    margin-left: 10px;
    color: #333;
  }
  
  .searchPage hr {
    margin: 20px 0;
    border: 1px solid #ddd;
  }
  
  .searchPage__filter {
    display: flex;
    align-items: center;
    color: #333;
  }
  
  .searchPage__filter .MuiSvgIcon-root {
    color: #333;
  }
  
  .searchPage__filter h2 {
    margin-left: 10px;
    font-size: 16px;
  }
  
  