/* SidebarRow.css */

.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .sidebarRow:hover {
    background-color: rgb(244, 237, 237);
    cursor: pointer;
  }
  
  .sidebarRow__icon {
    font-size: 24px;
    color: #606060;
    margin-right: 20px;
  }
  
  .sidebarRow__title {
    font-size: 14px;
    font-weight: 500;
    color: #606060;
  }

  .sidebarRow:hover>.sidebarRow__icon{
    color: red;
  }
  .sidebarRow.selected{
    background-color: aliceblue;
  }
  