.sidebar{
    position: sticky;
    top: 60px; /* The sidebar will stick to the top of the viewport */
    height: 100vh; /* Full height of the viewport */
    width: 200px; /* Set a width for the sidebar */
    background-color: #f0f0f0; /* Optional: background color for the sidebar */
    padding: 20px; 
    position: fixed;
}